<footer id="footer1" class="page-section text-center pt-100-b-80-cont">
    <div class="container">
        <div class="footer-soc-a">
            <a href="javascript:void(0)" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="javascript:void(0)" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="javascript:void(0)" title="Behance" target="_blank"><i class="fa fa-behance"></i></a>
            <a href="javascript:void(0)" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="javascript:void(0)" title="Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a>
        </div>
        <div class="footer-copy">
            <a href="javascript:void(0)" target="_blank">&copy; DEVSINSIGHT 2018</a>
        </div>
    </div>
</footer>

<p id="back-top" #footer [@fade]="stateExpression">
    <a href="javascript:void(0)" title="Back to Top"><span class="icon icon-arrows-up" (click)="backToTop()"></span></a>
</p>