<header id="nav" *ngIf="router.url != '/404'" class="header header-1 black-header mobile-no-transparent">
    <div class="header-wrapper grey-dark-bg">
        <div class="container-m-30 clearfix">
            <div class="logo-row">
                <div class="logo-container-2">
                    <div class="logo-2">
                        <a href="index.html" class="clearfix">
                            <img src="assets/images/devsinsight/devsinsight_logo.png" class="logo-img" alt="Logo">
                        </a>
                    </div>
                </div>

                <div class="menu-btn-respons-container">
                    <button type="button" class="navbar-toggle btn-navbar collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse">
                        <span aria-hidden="true" class="icon_menu hamb-mob-icon"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="main-menu-container">
            <div class="container-m-30 clearfix">
                <div id="main-menu">
                    <div class="navbar navbar-default" role="navigation">
                        <nav class="collapse collapsing navbar-collapse right-1024">
                            <ul class="nav navbar-nav">
                                <li class="parent" [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['current']">
                                    <a href="javascript:void(0)" [routerLink]="'/'">
                                        <div class="main-menu-title">HOME</div>
                                    </a>
                                </li>
                                <li class="parent" [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['current']">
                                    <a href="javascript:void(0)">
                                        <div class="main-menu-title">ABOUT US</div>
                                    </a>
                                    <ul class="sub">
                                        <li><a href="javascript:void(0)" [routerLink]="'/about-us/our-company'" [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['current']">OUR COMPANY</a></li>
                                        <li><a href="javascript:void(0)" [routerLink]="'/about-us/our-vision'" [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['current']">OUR VISION</a></li>
                                        <li><a href="javascript:void(0)" [routerLink]="'/about-us/our-people'" [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['current']">OUR PEOPLE</a></li>
                                        <li><a href="javascript:void(0)" [routerLink]="'/about-us/our-business-principles'" [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['current']">OUR BUSINESS PRINCIPLES</a></li>
                                        <li><a href="javascript:void(0)" [routerLink]="'/about-us/our-history'" [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['current']">OUR HISTORY</a></li>
                                    </ul>
                                </li>
                                <li class="parent" [routerLinkActive]="['current']">
                                    <a href="javascript:void(0)" [routerLink]="'/blog'">
                                        <div class="main-menu-title">BLOG</div>
                                    </a>
                                </li>
                                <li id="menu-contact-info-big" class="parent megamenu" [routerLinkActive]="['current']">
                                    <a href="javascript:void(0)" [routerLink]="'/contact'">
                                        <div class="main-menu-title">CONTACT US</div>
                                    </a>
                                </li>

                            </ul>

                        </nav>

                    </div>
                </div>

            </div>


        </div>

        <ul class="cd-header-buttons">
            <li><a class="cd-search-trigger" href="#cd-search"><span></span></a></li>
        </ul>

        <div id="cd-search" class="cd-search">
            <form class="form-search" id="searchForm" action="page-search-results.html" method="get">
                <input type="text" value="" name="q" id="q" placeholder="Search...">
            </form>
        </div>

    </div>


</header>