<!-- GOOGLE MAP & CONTACT FORM -->
<div class="page-section gray-bg">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">
                <div class="row">
                    <div data-address="580 California Street, San Francisco, CA" id="google-map"></div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="contact-form-cont">
                    <!-- TITLE -->
                    <div class="mb-40">
                        <h2 class="section-title">CONTACT <span class="bold">US</span></h2>
                    </div>

                    <!-- CONTACT FORM -->
                    <div class="">
                        <form id="contact-form" action="php/contact-form.php" method="POST">

                            <div class="row">
                                <div class="col-md-12 mb-30">
                                    <!-- <label>Your name *</label> -->
                                    <input type="text" value="" data-msg-required="Please enter your name" maxlength="100" class="controled" name="name" id="name" placeholder="NAME" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-30">
                                    <!-- <label>Your email address *</label> -->
                                    <input type="email" value="" data-msg-required="Please enter your email address" data-msg-email="Please enter a valid email address" maxlength="100" class="controled" name="email" id="email" placeholder="EMAIL" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-40">
                                    <!-- <label>Message *</label> -->
                                    <textarea maxlength="5000" data-msg-required="Please enter your message" rows="3" class="controled" name="message" id="message" placeholder="MESSAGE" required></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 text-center-xxs">
                                    <input type="submit" value="SEND MESSAGE" class="button medium gray" data-loading-text="Loading...">
                                </div>
                            </div>

                        </form>
                        <div class="alert alert-success hidden animated fadeIn" id="contactSuccess">
                            <strong>Success!</strong> Your message has been sent to us.
                        </div>

                        <div class="alert alert-danger hidden animated shake" id="contactError">
                            <strong>Error!</strong> There was an error sending your message.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>