<div id="contact-link" class="page-section p-80-cont grey-light-bg">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class="cis-cont">
                    <div class="cis-icon">
                        <div class="icon icon-basic-map"></div>
                    </div>
                    <div class="cis-text">
                        <h3><span class="bold">ADDRESS</span></h3>
                        <p>790 FOLSOM AVE, SAN FRANCISCO</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="cis-cont">
                    <div class="cis-icon">
                        <div class="icon icon-basic-mail"></div>
                    </div>
                    <div class="cis-text">
                        <h3><span class="bold">EMAIL</span></h3>
                        <p><a href="mailto:info@haswell.com">INFO@HASWELL.COM</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="cis-cont">
                    <div class="cis-icon">
                        <div class="icon icon-basic-smartphone"></div>
                    </div>
                    <div class="cis-text">
                        <h3><span class="bold">CALL US</span></h3>
                        <p>1-800-312-212, 1-800-311-101</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
