<div class="page-title-cont page-title-small grey-light-bg">
    <div class="relative container align-left">
        <div class="row">

            <div class="col-md-8">
                <h1 class="page-title">CONTACT</h1>
            </div>

            <div class="col-md-4">
                <div class="breadcrumbs">
                    <a href="index.html">Home</a><span class="slash-divider">/</span><a href="#">PAGES</a><span class="slash-divider">/</span>
                    <span
                        class="bread-current">CONTACT</span>
                </div>
            </div>

        </div>
    </div>
</div>